<html>
<head>
	<title>
		PMS | Admin Panel
	</title>
	{% load staticfiles %}
	<!-- <script src={% static 'js/jquery.min.js' %}></script> -->
	<script src="http://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
</head>
<body>
	Hello {{ user |title}}
	<canvas id="myCanvas" width="720" height="480"></canvas>
	<script>
		var ix;
		var iy;
		var mx;
		var my;
		var fx;
		var fy;
		var fps = 20;
		var canvas = document.getElementById('myCanvas');
		var ctx = canvas.getContext('2d');
		var video = new Image();
		video.src = "http://127.0.0.1:8000/video/";
		var JsonData= [{}]


		window.setInterval(function() {ctx.drawImage(video,
			canvas.width / 2 - video.width / 2,
			canvas.height / 2 - video.height / 2
			)
		drawRect(JsonData);
	},fps)


		function drawRect(JsonData){
			for (n = 0; n < JsonData.length; ++n) {
				obj= JsonData[n]
				ctx.beginPath();
				ctx.lineWidth="7";
				ctx.strokeStyle="yellow";
				ctx.rect(obj.ix,obj.iy,obj.fx-obj.ix,obj.fy-obj.iy);
				ctx.stroke();
			}
		}

		function getCursorPosition(canvas, event) {
			var x, y;

			canoffset = $(canvas).offset();
			x = event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft - Math.floor(canoffset.left);
			y = event.clientY + document.body.scrollTop + document.documentElement.scrollTop - Math.floor(canoffset.top) + 1;
			console.log("x: " + x + " y: " + y);

			return [x,y];
		}

		canvas.addEventListener("mousedown", function(event){
			c = getCursorPosition(canvas, event);
			ix = c[0];
			iy = c[1];
		}, false);

		canvas.addEventListener("mouseup", function(event){
			c = getCursorPosition(canvas, event);
			fx = c[0];
			fy = c[1];
			// Blue rectangle
			JsonData.push({"iy": iy, "ix": ix, "fx": fx, "fy": fy,"name": "F1"});
		}, false);


	// set canvas size = video size when known


</script>
</body>
<html>